body {
  background-color: rgb(204, 204, 204);
}

h1,
h2 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

.player_one,
.player_two {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto;
}
